# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.project.pbxproj

# latex
Report/*.aux
Report/*.glo
Report/*.idx
Report/*.log
Report/*.toc
Report/*.ist
Report/*.acn
Report/*.acr
Report/*.alg
Report/*.bbl
Report/*.blg
Report/*.dvi
Report/*.glg
Report/*.gls
Report/*.ilg
Report/*.ind
Report/*.lof
Report/*.lot
Report/*.maf
Report/*.mtc
Report/*.mtc1
Report/*.out
Report/*.pdf
Report/*.synctex.gz
Report/*.fdb_latexmk
