
{% extends "base.html" %}
 {% block content %}
 
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<a href="trainprint4" class="btn btn-primary btn-lg" role="button">Træn Print 4</a>
			</div>
			<div class="col-xs-6 col-md-4">
			</div>
			<div class="col-xs-6 col-md-4">

			</div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<a href="place_paper_train?num=4" class="btn btn-success btn-lg" role="button">Træn Tegn 4</a>
			</div>
			<div class="col-xs-6 col-md-4">

			</div>
			<div class="col-xs-6 col-md-4">

			</div>
		</div>
	</div>
</div>
{% endblock %}

